#Android & Gradle Build
*.iml
.gradle/
/local.properties
/build
/captures
.externalNativeBuild
.cxx
.navigation/

#Output App Files
*.apk
*.aab
*.ap_
*.aar

#Android Studio
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/gradle.xml
/.idea/assetWizardSettings.xml
/.idea/dictionaries
/.idea/libraries
/.idea/caches
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/vcs.xml và 
/.idea/codeStyles


#FIREBASE
# File này chứa thông tin kết nối, không nên public lên Github công khai
google-services.json

# --- Hệ điều hành (File rác) ---
.DS_Store
Thumbs.db
